*
!.fehbg
!.gitignore
!.p10k.zsh
!.xinitrc
!.zprofile
!.zshrc
!/.config/
!/.config/kitty/
!/.config/kitty/*
!/.config/neofetch/
!/.config/neofetch/*
!/.config/picom/
!/.config/picom/*
!/.config/ranger/
!/.config/ranger/*
!wallpapers/
!wallpapers/*
!README.md
